@import "tailwindcss";
@import "../styles/global.css";

/* Keyframe for loading animation */
@keyframes pulse {

  0%,
  100% {
    opacity: 0.3;
    transform: scaleX(0.5);
  }

  50% {
    opacity: 1;
    transform: scaleX(1);
  }
}